.headerbar {
  display: flex;
  align-items: center;
  height: 4rem;
  background-color: #fff;
  border-bottom: .1rem solid #ddd;
  &__title {
    flex: 3;
    text-align: center;
  }
  .icontext--left{
    margin-left: 1rem;
    margin-right: .5rem;
    flex: 1;
  }
  .icontext--right{
    margin-right: 1rem;
    margin-left: .5rem;
    flex: 1;
    text-align: right;
  }
}
